@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-flow: column;
}

.header {
    background-color: #1f2937;
    height: 10vh;
    color: #f9faf8;
    display:flex;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    width: 50%;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    margin-right: 8px;
}

.box1 {
    background-color: #1f2937;
    height: 15vh;
}

.signup {

}

.box2 {
    height: 25vh;
    display:flex;
    flex-flow: column;
    text-align: center;
    align-self: center;
}

.box2title {
    height: 25%;
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.box2images {
    height: 50%;
    width: 100%;
}

.box2text {
    width: 100%;
}

.box3 {
    background-color: #e5e7eb;
    height: 25vh;
    display:flex;
    padding-left: 38px;
}

.quoteholder {
    justify-self: center;
    align-self: center;
}

.box3text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    align-self: center;
    justify-content: center
    ;
}

.box3quote {
    font-size: 24px;   
    font-weight: bold;
    text-align: right;
    margin-right: 10vh;
}

.box4 {
    height: 15vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.calltoaction {
    height: 7vh;
    width: 66%;
    background-color: #3882f6;
    border-radius: 5px;

}

.text {

}

.button {

}

.footer {
    height: 10vh;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display:flex;
    justify-content: center;
    align-items: center;
}
