* {
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    flex-flow: column;
}

.header {
    background-color: #1f2937;
    font-size: 24px;
    height: 10vh;
    color: #f9faf8;
    display:flex;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    width: 50%;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    margin-right: 8px;
}

.box1 {
    background-color: #1f2937;
    height: 20vh;
}

.signup {

}

.box2 {
    height: 20vh;
}

.box3 {
    background-color: #e5e7eb;
    height: 20vh;
}

.box3text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.box3quote {
    font-size: 24px;   
    font-weight: bold;
}

.box4 {
    height: 20vh
}

.footer {
    height: 10vh;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display:flex;
    justify-content: center;
    align-items: center;
}
